.chat-container {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: Arial, sans-serif;
}
.titulo-inicial{
    text-align: center;
}   
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button:hover {
    background-color: #0056b3;
}
.Cerrar-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto; /* Alinea el botón a la derecha */
    display: block; /* Muestra el botón */
}

.Cerrar-button:hover {
    background-color: #c82333;
}


.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.chat-body {
    padding: 20px;
    overflow-y: scroll;
    height: 300px;
}

.chat-message {
    margin-bottom: 10px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    float: right;
}

.bot-message {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    float: right;
}

.chat-input {
    display: flex;
    margin-top: 10px;
}

.input-field {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
